CairoSVG==1.0.7
Flask==1.0
Flask-Admin==1.0.7
Flask-SQLAlchemy==1.0
Jinja2==2.7.2
MarkupSafe==0.19
SQLAlchemy==0.9.3
WTForms==1.0.5
Werkzeug==0.9.4
astroid==1.0.1
cairocffi==0.5.4
cffi==0.8.2
cryptography==0.2.2
cssselect==0.9.1
itsdangerous==0.23
logilab-common==0.61.0
lxml==3.3.5
pyOpenSSL==0.14
pycparser==2.10
pygal==1.4.6
six==1.6.1
tinycss==0.3
wsgiref==0.1.2
