{% extends 'admin/master.html' %}
{% block body %}
    <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <div class="btn-group pull-right">
        <a href="https://github.com/gentledevil/sslcheck/issues" class="btn btn-default" role="button">Report issue</a>
      </div>
      <p>
        This tool is being developped and main contain bugs.
      </p>
    </div>
    <div>
<div class="hero-unit">
  <h1>Welcome to SSLCheck.</h1>
  <br />
</div>
<div>
  <div class="row text-center">
    <div class="span1"></div>
    <div class="span2">
      <img src="/static/img/fontawesome/eye_cccccc_92.png" />
      <br />Keep an eye on your certificates
    </div>
    <div class="span2"></div>
    <div class="span2">
      <img src="/static/img/fontawesome/filter_cccccc_92.png" />
      <br />Sort view by certificates properties
    </div>
    <div class="span2"></div>
    <div class="span2">
      <img src="/static/img/fontawesome/bar-chart-o_cccccc_92.png" />
      <br />Charts of errors, vulnerabilities and history
    </div>
    <div class="span1"></div>
  </div>
  <div class="row text-center">
    <div class="span1"></div>
    <div class="span2">
      <img src="/static/img/fontawesome/calendar_cccccc_92.png" />
      <br />Check of expiration dates
    </div>
    <div class="span2"></div>
    <div class="span2">
      <img src="/static/img/fontawesome/bell-o_cccccc_92.png" />
      <br />Alerts on invalid certificate discovery
    </div>
    <div class="span2"></div>
    <div class="span2">
      <img src="/static/img/fontawesome/beer_cccccc_92.png" />
      <br />Let SSLCheck worry about your certificates, you deserve some time off
    <div class="span1"></div>
    </div>
  </div>
</div>
{% endblock %}
