{% extends 'admin/master.html' %}
{% block body %}
<div>
  <img src="/static/img/one-does-not-simply.jpg" class="img-rounded carousel-img">
  <h2>Comment ça marche ?</h2>
  <ul>
    <li>Lors de la mise en place d'un certificat SSL, l'ajouter à la liste des hosts à checker</li>
    <li>Les certificats présents dans la base sont régulièrement checkés par un cron</li>
    <li>Des alertes sont envoyés par mail lorsque des certificats invalides sont détectés</li>
    <li>Il est possible d'ignorer un certificat lors des checks et dans ce cas remplir la base manuellement</li>
  </ul>
  <h2>Que signifient les différents tests ?</h2>
  <ul>
    <li>DNS valid / Net OK : Le hostname de la machine est-il résolvable, la machine est-elle joignable sur le port indiqué ?</li>
    <li>Cert valid : le certificat est-il correctement formé (chaîne de certification, ...)</li>
    <li>Certname match : le CN du certificat correspond-il au hostname de la machine ?</li>
    <li>Revoked : le serial du certificat apparait-il dans la liste de révocation (CRL) associée ?</li>
  </ul>
</div>
{% endblock %}
